.body{
    background: linear-gradient(to right, rgba(24, 227, 110, 0.3),rgba(24, 220, 227, 0.3) );
    font-family: "JetBrains Mono ExtraBold", Arial, "Franklin Gothic Medium";
}



.content{
    font-family: "JetBrains Mono ExtraBold", Arial, "Franklin Gothic Medium";
    width: 100%;
    height: 100px;
    align-content: center;
    justify-content: center;

}