<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title >To-Do List</title>
    <link rel="stylesheet" th:href="@{/StyleTypeshii.css}">
</head>
<body class="body">
<div class="header">
    <h1>To-Do List</h1>
</div>

<div class="content">
    <h2>Добавить новую задачу</h2>
    <form action="/tasks/add" method="post">
      <input class="inputS" type="text" name="title" placeholder="Название" required>
      <input class="inputS" type="text" name="description" placeholder="Описание">
      <input class="inputS" type="text" name="priority" placeholder="Приоритет">
      <button type="submit" class="buttonStyle1">Добавить</button>
  </form>
</div>
<div class="content">
    <h2>Список задач</h2>
    <ul class="NewUli">
        <li th:each="task : ${tasks}">
            <b th:text="${task.title}"></b> —
            <span th:text="${task.description}"></span> —
            <span th:text="${task.priority}"></span> —
            <span th:text="${task.status} ? 'Выполнена' : 'Не выполнена'"></span>
            <form th:action="@{'/tasks/toggle/' + ${task.id}}" method="post" style="display:inline">
                <button class="buttonStyle" type="submit">Переключить статус</button>
            </form>
            <form action="/tasks/delete" method="post" style="display: inline">
                <input type="hidden" name="id" th:value="${task.id}">
                <button class="buttonStyle" type="submit">Удалить</button>
            </form>
        </li>
    </ul>
</div>
</body>
</html>
